@eic:registry=https://eic-vsts1.pkgs.visualstudio.com/_packaging/eic-packages/npm/registry/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=7EC47C36-B826-4EE3-8C25-D2D57EB14440
